.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

[Bb]in/
[Oo]bj/
[An]droid/
[Ii][Oo][Ss]/

.idea/
*.sln.imb.json

publish/
target/

appsettings.Development.json
appsettings.Local.json
*.secrets.json

.cr/
*.db
*.db-shm
*.db-wal

appsettings.Development.json
appsettings.Local.json
*.secrets.json

*.log
logs/
TestResults/
.vshistory/

.DS_Store
Thumbs.db

node_modules/
.npm/
.eslintcache
.stylelintcache
